.game-popup {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1000px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: honeydew;
  border: 1px solid blueviolet;
  overflow: hidden;
  border-radius: 20px;
  z-index: 1;
}
.close-button {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  border-radius: 50%;
  transform: rotate(45deg);
  background-color: saddlebrown;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: aquamarine;
  transition: 0.3s;
  z-index: 10;
}
.close-button:hover {
  transform: rotate(-45deg);
}
.next-button {
  position: absolute;
  z-index: 10;
  width: 40px;
  height: 40px;
  bottom: 0;
  right: 0;
  cursor: pointer;
  border-radius: 50%;
  background-color: saddlebrown;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: aquamarine;
}
.next-button:disabled {
  background-color: lighten(saddlebrown, 30%);
  color: lighten(aquamarine, 30%);
}
.audio-call {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  width: 1000%;
  height: 100%;
  transition: all 1s ease;
  background-color: honeydew;
}
.word-card {
  width: 25%;
  transition: all 1s ease;
  display: grid;
  grid-template-rows: 1fr 50px 50px 25px 50px 10px;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 5px;
  .flip-container {
    grid-column: 4 / 10;
    justify-self: center;
    align-self: center;
    display: flex;
    perspective: 1000;
    width: 390px;
    height: 260px;
  }
  .flip-container.answered .flipper {
    transform: rotateY(180deg);
  }
  .flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    flex-basis: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img,
  .play-button {
    backface-visibility: hidden;
    position: absolute;
  }
  img {
    flex-basis: 100%;
    border-radius: 10px;
    transform: rotateY(180deg);
    top: 0;
    left: 0;
  }
  .play-button {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
    background-image: url("../../../../assets/images/icons8-динамик-100.png");
    background-size: cover;
    cursor: pointer;
    z-index: 2;
    transform: rotateY(0deg);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -47%);
  }
  .answers-container {
    grid-column: 2 / 12;
    grid-row: 5 / 6;
    display: flex;
    justify-content: space-between;
    .option {
      flex-basis: 20%;
      cursor: pointer;
    }
  }
}
.answer {
  grid-row: 3 / 4;
  grid-column: 1 / 13;
  align-self: center;
  justify-self: center;
  text-transform: capitalize;
  font-size: 1.5rem;
  transition: 0.3s;
}

.correct-answer {
  background-color: $main-color;
}
.incorrect-answer {
  background-color: #ce331f;
}

.buttons-wrapper {
  grid-row: 2 / 3;
  grid-column: 5 / 9;
  display: flex;
  justify-content: space-between;
  .button {
    flex-basis: 40%;
  }
}

.error-game-message {
  color: red;
}
