.option:disabled {
  color: #312828;
}
.game-stats-wrapper {
  flex-basis: 100%;
  padding: 40px;
  height: 100%;
}
.game-stats {
  width: 100%;  
  min-height: 50%;
  display: flex;  
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;  
  font-family: $main-font;
}

.answer-card {
  display: flex;
  width: 100%;
  margin-bottom: 10px;  
  font-size: 1.15rem;
  font-weight: 600;
}
.answer-word {
  min-width: 120px;
}
.answer-transcription {
  min-width: 150px;
}

.audio-play {
  margin-right: 5px;
  width: 27px;
  height: 27px;
  background-color: unset;
  background-image: url("../../../../assets/images/icons8-динамик-100.png");
  background-size: cover;
  border: none; 
}

.audio-play:hover {
  scale: 1.3;
}

.go-to-stats,
.play-again-btn {
  margin: 0 5px; 
  padding: 5px 16px;
  height: 35px;
  font-family: $main-font;
  font-size: .8rem;; 
  font-weight: 700;
  line-height: 1.3; 
  max-width: 100%; 
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04); 
  border-radius: .5em;
  background-color: #6de24f; 
  background-image: linear-gradient(to bottom, #6de24f 0%,#4b9e36 100%);
  background-size: .65em auto, 100%; 
  border: 3px solid #615c5c;
}

.go-to-stats:hover,
.play-again-btn:hover {
  background-color: #d8e24f; 
  background-image: linear-gradient(to bottom, #d8e24f 0%,#a3aa3a 100%);
  background-size: .65em auto, 100%; 
} 


.stats-wrapper {
  height: 400px;
  overflow-y: scroll;
  width: 90%;
  padding-left: 5px;

  
  &::-webkit-scrollbar {
      width:  5px;
  }
  
  &::-webkit-scrollbar-thumb {
      width: 5px;
      background-color: #63945e;
      background-image: -webkit-linear-gradient(45deg,rgba(213, 223, 214, 0.25) 25%,
                  transparent 25%,
                  transparent 50%,
                  rgba(183, 192, 183, 0.25) 50%,
                  rgba(199, 214, 201, 0.25) 75%,
                  transparent 75%,
                  transparent);
  }
}

.stats{
  width: 65%;
  padding-left: 15px;
  border: 5px solid #63945e;
  border-radius: 2rem;
  background: #f5eed0;;
}

.play-btns-container {
  width: 300px;
  margin: 6px auto;  
}  

.audiocall-right-answers {
  padding: 5px 0;
  font-size: 1.3rem;
  color: #26850e;
}

.audiocall-wrong-answers {
  padding: 5px 0;
  font-size: 1.3rem;
  color: #d12121;
}

.stats-best-series {
  padding: 5px 0;
  font-size: 1.3rem;
  text-align: center;
}

@media (max-width: 1000px) {
  .stats {
    width: 80%;
  }
}

@media (max-width: 800px) {
  .stats {
    width: 100%;
  }

  .stats-wrapper {
    width: 97%;
  }


  .answer-card {
    font-size: .9rem;
  }

  .answer-word {
    min-width: 105px;
  }  

  .answer-transcription {
    min-width: 105px;
  }
}

.answers-wrapper {
  h4 {
    padding: 5px 0;
  }
}
