.form-container {
  position: absolute;
  top: 0;
  left: 50%;
}

.show-form {
  width: 40px;
  height: 40px;
  background-image: url("../../../assets/images/login.png");
  background-size: cover;
  cursor: pointer;
  border: none;
  outline: none;
}

.active-form {
  border: 2px solid $main-color;
  background-color: lighten($main-color, 10%);
}
