* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
#root {
  width: 100%;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

.opacity-hidden {
  opacity: 0;
}

$header-color: #af9477;
html {
  scroll-behavior: smooth;
}

.nav {
  margin-left: auto;
}

.header-wrapper {
  display: flex;
  background-color: $header-color;
  align-items: center;
}

.header-title {
  margin-left: 10px;
  color: #8ab7f5;
  text-shadow: -0 -1px 1px #000000, 0 -1px 1px #000000, -0 1px 1px #000000,
    0 1px 1px #000000, -1px -0 1px #000000, 1px -0 1px #000000,
    -1px 0 1px #000000, 1px 0 1px #000000, -1px -1px 1px #000000,
    1px -1px 1px #000000, -1px 1px 1px #000000, 1px 1px 1px #000000,
    -1px -1px 1px #000000, 1px -1px 1px #000000, -1px 1px 1px #000000,
    1px 1px 1px #000000;
}

.nav-list {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  min-height: 60px;
  list-style: none;
}

.nav-item {
  width: 90px;
  height: 30%;
  font-style: 14px;
  padding: 10px 5px;
  border-radius: 10px;
  text-align: center;
}

a {
  text-decoration: none;
  color: #0c0c0b;
}

/*------------ main ---------*/

.start-screen-content {
  padding: 50px 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-heading {
  font-size: 1.5rem;
  span {
    font-size: 2.5rem;
    font-weight: 600;
  }
}

.content-subheading {
  font-size: 1rem;
}

.section-start-screen {
  background-color: #e2c19d;
}

.start-screen-img {
  max-width: 100%;
}

.start-screen-buttons {
  display: flex;
  justify-content: center;
}

.button-primary {
  margin: 0 5px;
  height: 30px;
  font-size: 1rem;
  border: 3px solid #af9477;
  background-color: #8ab7f5;
}

.button-primary:hover {
  border: 3px solid #615c5c;
  background-color: #efc97d;
}

.section-benefits {
  padding-bottom: 15px;
  background-color: #ecdcca;
}

.benefits-heading,
.our-team-heading {
  padding: 50px 0 50px;
  text-align: center;
  font-size: 2rem;
}

.benefits-container {
  display: flex;
  justify-content: space-around;
}

.benefits-description {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  align-items: center;
}

.benefits-description-title {
  margin: 10px 0;
}

.benefit-description-item {
  text-align: center;
}

.start-button {
  width: 100px;
  height: 60px;
  margin: 30px auto 0;
  display: block;
}

.benefits-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 170px;
  background-color: #af9477;
  border-radius: 170px;
  img {
    width: 90px;
    height: 90px;
  }
}

.benefits-img:hover {
  img {
    width: 110px;
    height: 110px;
  }
}

.benefits-subheading {
  margin: 0 20px 60px;
  text-align: justify;
  font-size: 1.2rem;
}

.section-our-team {
  padding-bottom: 80px;
  background-color: #f3cb82bf;
}

.our-team-container {
  display: flex;
  justify-content: space-around;
}

.our-team-img {
  background-color: #af9477;
}

.our-team-card {
  display: flex;
  width: 400px;
  margin: 5px;
  border: solid #af9477;
}

.our-team-info {
  width: 52%;
  background-color: #ecdcca;
  h3,
  p {
    text-align: center;
  }
  h3 {
    padding: 5px 0;
  }
}

/*------------ Footer ----------*/

.footer-container {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #af9477;
}

.footer-year {
  font-size: 20px;
}

.footer-gitHub {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
}

.footer-logo-rsschool {
  width: 100px;
  margin-right: 20px;
}
